<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../../services/csi.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>Fucking MVC Project</title>
</head>

<body>
    <div class="fill-wrapper h-100">
        <div data-include="../../../components/Header"></div>
        <div class="container w-100 h-90">
            <div class="w-100 h-100">
                <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                    <div class="card col-sm-12 col-md-12 col-lg-8">
                        <div class="card-header">
                            <div class="bar d-flex flex-row justify-content-center">
                                <a class="icon-wrapper d-flex flex-row align-items-center"
                                    onclick="handleModal('followers')">
                                    <ion-icon class="icon" name="people"></ion-icon>
                                    <h5 class="ml-2" id="followers"></h5>
                                </a>

                                <a class="ml-3 icon-wrapper d-flex flex-row align-items-center"
                                    onclick="handleModal('following')">
                                    <ion-icon class="icon" name="heart"></ion-icon>
                                    <h5 class="ml-2" id="following"></h5>
                                </a>

                                <a class="ml-3 icon-wrapper d-flex flex-row align-items-center"
                                    onclick="handleModal('repos')">
                                    <ion-icon class="icon" name="cloud-outline"></ion-icon>
                                    <h5 class="ml-2" id="publicRepos"></h5>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center">
                                <div class="avatar-wrapper">
                                    <img id="avatar" src="" alt="Avatar">
                                </div>
                                <div class="content ml-3">
                                    <div class="bio-wrapper d-flex flex-row align-items-center">
                                        <ion-icon class="icon col-2" name="people"></ion-icon>
                                        <p class="ml-2" id="company"></p>
                                    </div>
                                    <div class="bio-wrapper d-flex flex-row align-items-center">
                                        <ion-icon class="icon col-2" name="book"></ion-icon>
                                        <p class="ml-2" id="bio"></p>
                                    </div>
                                    <div class="bio-wrapper d-flex flex-row align-items-center mt-2">
                                        <ion-icon class="icon col-2" name="pin"></ion-icon>
                                        <p class="ml-2" id="location"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalBody">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="spinner-border spinner d-none" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</body>
<script>
    function handleModal(to) {
        const { username } = JSON.parse(localStorage.getItem('user'))
        let option = ""
        if (to === 'followers') {
            $('#modal-title').html('Followers')
            option = 'SEARCH_FOLLOWERS'
        }

        if (to === 'following') {
            $('#modal-title').html('Following')
            option = 'SEARCH_FOLLOWING'
        }

        if (to === 'repos') {
            $('#modal-title').html('My Repos')
            option = 'SEARCH_REPOS'
        }

        jQuery.ajax({
            url: 'http://localhost:8080/github/services/User.php',
            type: 'POST',
            data: {
                option,
                payload: {
                    username
                }
            },
            beforeSend: () => {
                $('.fill-wrapper').addClass('fill')
                $('.fill-wrapper').addClass('fill-opacity')
                $('.header').addClass('fill-opacity')
                $('body').addClass('bg-dark')
                $('.spinner').removeClass('d-none')
            }
        }).done(data => {
            data = JSON.parse(data)
            $('#modalBody').empty()

            if (to !== 'repos') {
                data.map(d => {
                    $('#modalBody').append(`
                <div class="d-flex flex-row align-items-center mb-3" style="border: 1px solid #d3d3d3; padding: 2%; border-radius: 5px">
                    <div class="avatar-wrapper col-3">
                        <img id="avatar" src="${d.avatar_url}" alt="Avatar">
                    </div>
                    <div class="content col-8">
                        <div class="bio-wrapper d-flex flex-row align-items-center">
                            <ion-icon class="icon col-2" name="hand"></ion-icon>
                            <p class="ml-2 col-10">${d.name || 'Not given'}</p>
                        </div>
                        <div class="bio-wrapper d-flex flex-row align-items-center">
                            <ion-icon class="icon col-2" name="people"></ion-icon>
                            <p class="ml-2 col-10">${d.company || 'Not given'}</p>
                        </div>
                        <div class="bio-wrapper d-flex flex-row align-items-center">
                            <ion-icon class="icon col-2" name="book"></ion-icon>
                            <p class="ml-2 col-10">${d.bio || 'Not given'}</p>
                        </div>
                        <div class="bio-wrapper d-flex flex-row align-items-center mt-2">
                            <ion-icon class="icon col-2" name="pin"></ion-icon>
                            <p class="ml-2 col-10">${d.location || 'Not given'}</p>
                        </div>
                    </div>
                </div>
                `)
                })
            } else {
                data.map(d => {
                    $('#modalBody').append(`
                <div class="d-flex flex-row align-items-center mb-3" style="border: 1px solid #d3d3d3; padding: 2%; border-radius: 5px; box-shadow: 0 2px 4px 1px #d3d3d3;">
                    <div class="d-flex align-items-center avatar-wrapper col-3">
                        <h5 style="color: #3c4686">${d.language || 'Unrecognized'}</h5>
                    </div>
                    <div class="content ml-3 col-8">
                        <div class="bio-wrapper d-flex flex-row align-items-center">
                            <ion-icon class="icon col-2" name="paper"></ion-icon>
                            <p class="ml-2">${d.name}</p>
                        </div>
                        <div class="bio-wrapper d-flex flex-row align-items-center">
                            <ion-icon class="icon col-2" name="checkmark"></ion-icon>
                            <p class="ml-2">${d.private === true ? 'Private' : 'Public'}</p>
                        </div>
                        <div class="bio-wrapper d-flex flex-row align-items-center mt-2">
                            <ion-icon class="icon col-2" name="globe"></ion-icon>
                            <p class="ml-2">${d.open_issues || 'Not given'}</p>
                        </div>
                    </div>
                </div>
                `)
                })
            }
            $('.fill-wrapper').removeClass('fill')
            $('.fill-wrapper').removeClass('fill-opacity')
            $('.header').removeClass('fill-opacity')
            $('body').removeClass('bg-dark')
            $('.spinner').addClass('d-none')
            $('#modal').modal('toggle')
        })
    }

    $(document).ready(function () {
        const user = JSON.parse(localStorage.getItem('user'))
        $('#followers').html(`${user.followers || 0} followers`)
        $('#following').html(`${user.following || 0} following`)
        $('#publicRepos').html(`${user.publicRepos || 0} repositories`)
        $('#avatar').attr('src', user.avatarUrl)
        $('#company').html(`${user.company}`)
        $('#bio').html(`${user.bio}`)
        $('#location').html(`${user.location}`)
    })
</script>

</html>